.footer {
  background-color: $footerColor;
  padding: 30px 20px 40px;

  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 27px;
  }

  @include desktop {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(12, 80px);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 60px 50px;
  }

  @include large {
    padding: 60px 130px;
  }

  &__list {
    margin-bottom: 20px;

    @include tablet {
      width: 94px;
      margin-bottom: 0;
    }

    @include desktop {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: row;
    }

    &--anchor {
      display: block;
      text-decoration: none;
      color: $mainColor;
      font-family: Poppins, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      text-transform: capitalize;
      margin-bottom: 11px;
      @include hover;

      @include tablet {
        margin-bottom: 15px;
      }

      @include desktop {
        margin-left: 40px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &__socials {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;

    @include tablet {
      order: 1;
      width: 100%;
      margin-bottom: 50px;
    }

    @include desktop {
      grid-column: 8 / 10;
      grid-row: 2 / 3;
    }

    &--facebook {
      display: block;
      width: 20px;
      height: 20px;
      background-image: url(./pictures/facebook.svg);
      transition: all 0.3s;
    
      &:hover {
        background-image: url(./pictures/face_blue.svg);
      }
    }

    &--instagram {
      display: block;
      width: 20px;
      height: 20px;
      background-image: url(./pictures/instagram.svg);
      margin-left: 20px;
      transition: all 0.3s;
    
      &:hover {
        background-image: url(./pictures/insta_blue.svg);
      }
    }

    @include desktop {
      margin-left: 14px;
    }
  }

  &__info {
    margin-bottom: 40px;

    @include tablet {
      width: 342px;
      margin-bottom: 0;
    }

    @include desktop {
      grid-column: 8 / -1;
      grid-row: 1 / 2;
    }

    &--text {
      color: $mainColor;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 10px;

      @include tablet {
        margin-bottom: 7px;
      }

      @include desktop {
        font-size: 16px;
      }
    }

    &--support {
      display: block;
      text-decoration: none;
      color: $mainColor;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 10px;
      @include hover;
    }

    @include desktop {
      font-size: 16px;
    }
  }

  &__copyRight {

    @include tablet {
      order: 1;
      width: 100%;
    }

    @include desktop {
      grid-column: 1 / 6;
      grid-row: 2 / 3;
      text-align: start;
    }

    &--word {
      display: none;
      color: $mainColor;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;

      @include desktop {
        display: inline;
      }
    }

    &--text {
      display: inline;
      text-align: center;
      color: $mainColor;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;

      @include desktop {
        text-align: start;
      }
    }
  }
}
