.header {

  @include desktop {
    padding: $desktopPadding;
    padding-bottom: 200px;
  }

  @include large {
    padding: $largePadding;
  }

  &__picture {
    margin-bottom: 25px;

    @include tablet {
      margin-bottom: 50px;
    }

    @include desktop {
      display: none;
    }
  }

  &__content {
    padding: $smartPadding;
    
    @include tablet {
      padding: $tabletPadding;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 0 200px 100px;
      padding: 0;
    }

    &--title {
      width: 280px;
      height: 93px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 10px;

      @include tablet {
        width: 466px;
        height: 108px;
        &::first-letter {
          text-transform: uppercase;
        }
      }

      @include desktop {
        text-align: start;
        width: 480px;
        height: 234px;
        margin: 0 20px 30px 0;
      }
    }

    &--img {

      @include image {
        display: none;
      }
    }

    &--text {
      color: $menuColor;
      text-align: center;
      font-family: Poppins, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 30px;

      @include tablet {
        margin-bottom: 50px;
      }

      @include desktop {
        text-align: start;
        margin-top: -187px;
      }
    }

    &--button {
      width: 100%;
      height: 60px;
      margin: 0 auto 100px;

      @include tablet {
        width: 280px;
        height: 60px;
        margin-bottom: 130px;
      }

      @include desktop {
        margin: -117px 0 0 -217px;
      }
    }
  }

  &__topLine {
    display: none;

    @include desktop {
      display: block;
      width: 530px;
      height: 1px;
      content: "";
      background: rgba(52, 79, 16, 0.5);
      margin: 0 0 100px -50px;
    }
  }

  &__information {
    @include desktop {
      display: flex;
      margin: 0 0 100px 100px;
    }

    &--desktopText {
      display: none;

      @include desktop {
        display: block;
        width: 380px;
        height: 144px;
      }
    }

    &--smallTitle {
      width: 280px;
      height: 81px;
      text-align: center;
      margin: 0 auto 100px;

      @include tablet {
        margin-bottom: 130px;
      }

      @include desktop {
        text-align: start;
        width: 380px;
        height: 108px;
        margin: 0;
        margin-left: 120px;
      }
    }
  }

  &__bottomLine {
    display: none;
    
    @include desktop {
      display: block;
      position: absolute;
      top: 1187px;
      right: 0;
      width: 630px;
      height: 1px;
      content: "";
      background: rgba(52, 79, 16, 0.5);
    }
  }
}
