.ayurvedic {
  padding-bottom: 100px;

  @include tablet {
    padding: 130px 0;
  }

  @include desktop {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(12, 80px);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 200px 50px;
  }

  @include large {
    padding: 200px 130px;
  }

  &__aside {
    display: none;

    @include desktop {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      display: block;
      width: 25px;
      height: 252px;
    }

    &--word {
      display: block;
      position: relative;
      width: 105px;
      top: 96px;
      right: 100px;
      color: rgba(52, 79, 16, 0.5);
      text-align: center;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      transform: rotate(270deg);

      &::after {
        display: block;
        position: relative;
        bottom: 9px;
        right: 40px;
        content: "";
        width: 50px;
        height: 1px;
        background-color: rgba(52, 79, 16, 0.5);
      }
    }
  }

  &__title {
    width: 280px;
    margin-left: 20px;
    margin-bottom: 20px;

    @include tablet {
      margin-left: 27px;
      margin-bottom: -72px;
    }

    @include desktop {
      grid-column: 2 / 6;
      grid-row: 1 / 2;
      margin: 0;
    }
  }

  &__powder {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 0;
    }

    @include desktop {
      grid-column: 6 / -1;
      grid-row: 1 / 2;
      margin-bottom: 187px;
    }
  }

  &__button {
    margin-left: 20px;
    margin-bottom: 100px;

    @include tablet {
      margin-top: -31px;
      margin-left: 27px;
      margin-bottom: 120px;
    }

    @include desktop {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin: 367px 0 0;
    }
  }

  &__ayurvedicBottomBlock {

    @include desktop {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }
  }
}
