.creators {
  padding: 100px 20px;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $tabletPadding;
  }

  @include desktop {
    display: grid;
    padding: $desktopPadding;
    @include gridDesktop;
  }

  @include large {
    padding: $largePadding;
  }

  &__aside {
    display: none;

    @include desktop {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      display: block;
      width: 25px;
      height: 252px;
    }

    &--word {
      display: block;
      position: relative;
      width: 150px;
      top: 96px;
      right: 100px;
      color: rgba(52, 79, 16, 0.5);
      text-align: center;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      transform: rotate(270deg);

      &::after {
        display: block;
        position: relative;
        bottom: 9px;
        right: 40px;
        content: "";
        width: 50px;
        height: 1px;
        background-color: rgba(52, 79, 16, 0.5);
      }
    }
  }

  &__general {

    @include tablet {
      width: 342px;
    }

    @include desktop {
      grid-column: 2 / 6;
    }

    &--title {
      margin-bottom: 10px;

      @include desktop {
        margin-bottom: 34px;
      }
    }

    &--text1 {
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 30px;
    
      @include tablet {
        width: 342px;
        height: 96px;
        font-size: 16px;
        margin-bottom: 15px;
      }

      @include desktop {
        width: 380px;
        height: 96px;
        font-size: 16px;
      }
    }

    &--text2 {
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 30px;
    
      @include tablet {
        width: 342px;
        height: 144px;
        font-size: 16px;
        margin-bottom: 20px;
      }

      @include desktop {
        width: 380px;
        height: 120px;
        font-size: 16px;
      }
    }

    &--text3 {
      display: none;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 30px;

      @include desktop {
        display: block;
        width: 380px;
        height: 120px;
        font-size: 16px;
        margin-bottom: 20px;
      }
    }

    &--underlineButton {
      margin-bottom: 40px;

      @include tablet {
        margin-bottom: 30px;
      }
    }

    &--button {
      width: 100%;
      height: 60px;

      @include tablet {
        width: 280px;
        height: 60px;
      }
    }
  }

  &__picture {
    display: none;

    @include tablet {
      display: block;
      width: 342px;
      height: 440px;
      background-image: url(./pictures/creators_picture.jpg);
      @include hover;
    }

    @include desktop {
      grid-column: 7 / -1;
      display: block;
      width: 580px;
      height: 659px;
    }
  }
}
