$menuColor: #333;
$mainColor: #e4dfd3;
$titleColor: #344f10;
$footerColor: #8c9772;
$greyColor: #f2f2f2;
$lightGreyColor: #828282;
$smartPadding: 0 20px;
$tabletPadding: 0 27px;
$desktopPadding: 0 50px;
$largePadding: 0 130px;
